.card{
    display:flex;
    flex-direction:column;
    padding:10px;
    margin: 10px;
    top: 100px;
    max-width:20vh;
    max-height:50vh;
    justify-content: space-evenly;
}
.card-body{
    padding:10px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-body > img{
    display:flex;
    justify-content: center;
    max-width:10vh;
    max-height: 10vh;
}
.btn{
    background-color: goldenrod;
}
header {
    background-color: skyblue;
    height: 20vh;
}
@media screen and (max-width:992px) {
    .card {
        width:45%;
    }
    @media screen and (max-width:768px){
        .card{
            width:90%;
        }
    }
}